@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
*{
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}
header{
  background-color: whitesmoke;
  width: 100%;
  position:fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 200px;}
  .logo{
    text-decoration: none;
    color:#BB4A4A;
    text-transform: uppercase;
    font-weight: 700;
    font-size:1.8em;}

    .btn-1{
      color:white;
      background-color: black;
      font-size: 1em;
      font-weight:500;
      text-align: center;
      align-items: center;
      border: 3px solid black;
      margin: 10px;
      letter-spacing:1px;
      border-radius:15px;

    }

    .btn-1:hover{
      transform:scale(1.1);
      cursor: pointer;

    }
    p::first-letter{
      font-family: cursive;
      font-weight: 700;

    }
    .main{
      width:100%;
      min-height:100vh;
      display:flex;
      align-items: center;
      background:url(images-project/aswan.jpg) no-repeat;height: 100%; width: 100%;
      background-size: cover;
      background-position: left;
      background-attachment: fixed;
    }
    .main h2{
      color:#BB4A4A;
      font-size:1.4em;
      font-weight:500;
      transition:1s ease;
      text-decoration: underline;
    }
    .main h2:hover{
      transform:scale(1.1);
      color:blue;
      
    }
    .main p{
      color:black;
      font-size:1.1em;
      font-weight:600;
      margin-top:10px;
      transition:1s ease;
    }
    .main div{
      margin-left: 5%;
      background-color: whitesmoke;
      margin-right: 10%;
    }


    .main{
      font-size:1.1em;
      font-weight:500;
      color:black;

    }
    .main a{
      color:black;
      text-decoration: none;
    }
    .main a:hover{
      color:#BB4A4A;
      transition:1s ease;
    }
    .main a:visited{
      color:blue;
    }
    p{
      font-size:1.1em;
      font-weight:600;
    }
    p::first-letter{
      font-weight:700;
    }
    .content h3{
      color:#BB4A4A;
      font-size:1.4em;
      font-weight:500;
      transition:1s ease;
      text-decoration: underline;
      text-align:center;
    }
    .content h3:hover{
      transform:scale(1.1);
      color:#3a6cf4;
    }
    .image{
      align-items: center;
      display:inline-block;
      position:absolute;
      left:22%;
    }
    .content p{
      margin-top: 45%;
      margin-left:10px;
    }
    .content{
      margin-top:10%;
    }
    hr{
      transform:scale(10);
    }
    .content ul{
      margin-top:45%;
      margin-left:25px;
    }

    .content li{
      margin-top:2%;
      font-size:1.1em;
      font-weight:400;

    }



    .content span{
      background-color: red;
      text-decoration: underline;
      font-weight:600;
    }

    #activites{
      margin-bottom: 2em;
    }
  .video h3{
    color:#BB4A4A;
    font-size:1.4em;
    font-weight:500;
    transition:1s ease;
    text-decoration: underline;
    text-align:center;
  }
  .video{
    margin-top: 10px;
  }
  @media screen and (max-width: 900px) and (max-height:1200px){
    img{
    display: block;
      width:240px;
      height:150px;
      transition:1s ease;
      margin-bottom:10%;
    }

    .content p{
      margin-top: 50%;
      margin-left:10px;
    }
    .btn-2{
      color:white;
      background-color: black;
      font-size: 1em;
      font-weight:500;
      text-align: center;
      align-items: center;
      border: 3px solid black;
      letter-spacing:1px;
      border-radius:15px;
      margin-left: 100%


    }
    header{
      width: 30%;

  }
  .logo{
    position:absolute;
    left:10px;
    top:0;}
    .btn-1{

    color:white;
    background-color: black;
    font-size: 1em;
    font-weight:500;
    text-align: center;
    align-items: center;
    margin: 10px;
    display: inline-block;
    position: relative;
    left:40px;
    bottom:15px;

    ;}
    @media screen and (max-width: 1200px) and (max-height:1900px){
      img{
      display: block;
        width:250px;
        height:250px;
        transition:1s ease;
        margin-bottom:10%;
      }

      .content p{
        margin-top: 70%;
        margin-left:10px;
      }
      .content ul{
        margin-top:70%;
        margin-left:25px;
      }
      .main{
        width:100%;
        min-height:100vh;
        display:flex;
        align-items: center;
        background:url(images-project/aswan.jpg) no-repeat;height: 100%; width: 100%;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
      }

    }
